* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-image: url(black-thread-light.png);
}

#header {
    top: 0;
    width: 100%;
    height: 100px;
    background-blend-mode: overlay;
    background: rgba(158, 170, 255, 0.1) url(triangular.png);
    padding: 0px 2%;
    position: absolute;
    overflow: hidden;
    z-index: 2;
}

.left-nav {
    width: 50%;
    float: left;
}

h1 {
    color: #fff;
    position: absolute;
    display: block;
    font-weight: bold;
    /*太字に*/
    font-size: 5em;
    /*サイズ2倍*/
    line-height: 100px;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 22px;
    }
}

#header img {
    width: 200px;
    /* transform: translateX(360px); */
    filter: invert(100%);
    margin-top: 30px;
    margin-left: 310px;
    transform: rotate(-10deg);
}

.containernav {
    height: 100px;
    float: left;
    width: 44%;
}


}
nav {
    overflow: hidden;
    text-align: center;
    float: left;
    width: 50%;
    z-index: 1;
}
ul {
    width: 100%;
    overflow: hidden;
}
nav li {
    line-height: 100px;
    width: 20%;
    list-style-type: none;
    float: left;
    display: block;
    text-align: right;
}
nav li a:hover {
    color: #81E2DF;
}
nav a {
    font-size: 35px;
    text-decoration: none;
    color: #f9f9f9;
    font-weight: 700;
}
.containernarrow {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    padding: 16px;
}
.toptitle {
    font-size: 45px;
    padding-left: 8px;
    color: rgb(105, 105, 105);
    font-weight: 400;
    text-align: center;
}
.amatic {
    font-family: 'Amatic SC', cursive;
}
.line:first-child {
    /* margin-top: 50px; */
}
.line img {
    width: 200px;
    display: block;
    filter: invert(40%);
    margin: auto;
}
.blank {
    margin-top: 110px;
}
svg {
    display: block;
    margin: 0 auto 22px;
}
path {
    fill: #5fd35f;
    stroke: #165016;
    stroke-width: 1;
    transition-duration: 200ms;
    cursor: pointer;
}
path:hover {
    fill: #3BC0C7;
}
