* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-image: url(black-thread-light.png);
}

#header {
    top: 0;
    width: 100%;
    height: 100px;
    background-blend-mode: overlay;
    background: rgba(158, 170, 255, 0.1) url(triangular.png);
    padding: 0px 2%;
    position: fixed;
    overflow: hidden;
    z-index: 2;
}

.left-nav {
    width: 50%;
    float: left;
}

h1 {
    color: #fff;
    position: absolute;
    display: block;
    font-weight: bold;
    /*太字に*/
    font-size: 5em;
    /*サイズ2倍*/
    line-height: 100px;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 22px;
    }
}

#header img {
    width: 200px;
    /* transform: translateX(360px); */
    filter: invert(100%);
    margin-top: 30px;
    margin-left: 310px;
    transform: rotate(-10deg);
}

.containernav {
    height: 100px;
    float: left;
    width: 44%;
}


/*
      #header img {
          width: 30%;
          float: left;
          filter: invert(100%);
*/


}
nav {
    overflow: hidden;
    text-align: center;
    float: left;
    width: 50%;
    z-index: 1;
}
ul {
    width: 100%;
    overflow: hidden;
}
nav li {
    line-height: 100px;
    width: 20%;
    list-style-type: none;
    float: left;
    display: block;
    text-align: right;
}
nav li a:hover {
    color: #81E2DF;
}
nav a {
    font-size: 35px;
    text-decoration: none;
    color: #f9f9f9;
    font-weight: 700;
}
.containernarrow {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px;
}

/*  #header {
          box-shadow: #636363 0px 5px 19px;
          width: 100%;
          height: 130px;
          background-blend-mode: overlay;
          background: linear-gradient(0deg, #696969, rgba(255, 0, 0, 0)), url(https://www.transparenttextures.com/patterns/always-grey.png);
          padding: 6px 0px;
          position: fixed;
          overflow: hidden;
      }*/

/*      .main-vidual {
          width: 100%;
          height: 100vh;
          background: #fff url(hero.png) center center no-repeat;
          background-size: cover;
          margin-bottom: 32px;
      }
*/
.mainvidual {
    width: 100%;
    height: 100vh;
}
.photo-show {
    min-width: 100%;
    min-height: 100vh;
    width: auto;
    height: auto;
}

/*
.photo-show {
    width: 100%;
    height: 100vh;
    background-size: cover;
    margin-bottom: 32px;
}
*/
.photo-show img {
    animation: show 16s infinite;
    -webkit-animation: show 16s infinite;
    min-width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    /*画像を全て重ねる*/
}

/*アニメーション*/
@keyframes show {
    0% {
        opacity: 0
    }
    
    5% {
        opacity: 1
    }
    
    10% {
        opacity: 1
    }
    
    20% {
        opacity: 0
    }
}
@-webkit-keyframes show {
    0% {
        opacity: 0
    }
    
    5% {
        opacity: 1
    }
    
    10% {
        opacity: 1
    }
    
    20% {
        opacity: 0
    }
}

/*各画像のアニメーションの開始時間をずらす*/
.photo-show img:nth-of-type(1) {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}
.photo-show img:nth-of-type(2) {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}
.photo-show img:nth-of-type(3) {
    animation-delay: 4s;
    -webkit-animation-delay: 4s;
}
.photo-show img:nth-of-type(4) {
    animation-delay: 6s;
    -webkit-animation-delay: 6s;
}
.photo-show img:nth-of-type(5) {
    animation-delay: 8s;
    -webkit-animation-delay: 8s
}
.photo-show img:nth-of-type(6) {
    animation-delay: 10s;
    -webkit-animation-delay: 10s;
}
.photo-show img:nth-of-type(7) {
    animation-delay: 12s;
    -webkit-animation-delay: 12s;
}
.photo-show img:nth-of-type(8) {
    animation-delay: 14s;
    -webkit-animation-delay: 14s;
}

/*マウスが画像に重なった際、動きを止めて四角くする*/
.photo-show img {
    transition: 0.2s;
    -webkit-transition: 0.2s;
}
.line img {
    width: 200px;
    display: block;
    margin: auto;
    filter: invert(40%);
}
.blank30 {
    margin-bottom: 30px;
}
.toptitle {
    font-size: 60px;
    padding-left: 8px;
    margin-bottom: 5px;
    color: #696969;
    font-weight: 400;
    text-align: center;
}
.amatic {
    font-family: 'Amatic SC', cursive;
}
#main {
    float: left;
}
.content {
    width: 300px;
    height: 300px;
    margin: 10px;
    overflow: hidden;
    float: left;
    position: relative;
    text-align: center;
    cursor: default;
}
.view .mask {
    width: 300px;
    height: 300px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.content img {
    width: 300px;
    display: block;
    float: left;
}
.content:last-child {
    border-bottom: 0;
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 20px;
    padding: 37px;
    background: rgba(105, 105, 105, 0.8);
    margin: 0
}
.view p {
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 35px 40px 30px;
    text-align: left;
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #696969;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}
.view-first img {
    transition: all 0.2s linear;
}
.green .mask {
    opacity: 0;
    background-color: rgba(59, 192, 199, 0.7);
    transition: all 0.4s ease-in-out;
}
.orange .mask {
    opacity: 0;
    background-color: rgba(253, 193, 67, 0.7);
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first a.info {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first:hover img {
    transform: scale(1.1);
}
.green:hover .mask {
    opacity: 1;
}
.orange:hover .mask {
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}

/* 画面外にいる状態 */
.fadein {
    opacity: 0.1;
    transform: translate(0, 120px);
    transition: all 0.8s;
}
.fadein2 {
    opacity: 0.1;
    transform: translate(0, 120px);
    transition: all 1s;
}
.fadein3 {
    opacity: 0.1;
    transform: translate(0, 120px);
    transition: all 1.5s;
}

/* 画面内に入った状態 */
.fadein.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}
.fadein2.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}
.fadein3.scrollin {
    opacity: 1;
    transform: translate(0, 0);
}
